*{
    margin: 0%;
    padding: 0%;
    margin-left: 5px;
    text-decoration: none;
    overflow: hidden;
}
.box1 img{
    height: 60px;
    width: 50px;
    color: black;
    margin-right: 30px;
}
.box1{
    display: flex;
    flex-direction: row;
    width: 200px;
}
.box2{
    margin-top: 10px; 
    width: 200px;
}
.box3{
    margin-top: 10px;
    width: 200px; 
}

.box4{
    margin-top: 10px; 
    width: 300px;
}

.box5{
    margin-top: 10px; 
    width: 200px;
}

.box6{
    margin-top: 10px; 
    width: 200px;
}
.maincontainer{
    padding-top: 4px;
    overflow: hidden;
    max-width: 800px;
}
.maincontainer pre{
    padding-top: 24px;
}
.box3 h1{
    font-size: medium;
    font-weight: 50px;
}
.box3 .b1{
    font-size: small;
    font-weight: 10px;
}
.box4 img{
    width: 200px;
    justify-content: center;
    margin-left: 30px;
}
.box4 h1{
    font-size: medium;
    font-weight: 20px;
}
.box5 img{
    height: 30px;
    width: 30px;
}
.box6{
    background-color: rgb(104, 104, 172);
    width: 400px;
}
.box6 a{
    color: aliceblue;
}
.box6 .bb{
    margin-left: 10px;
}
