*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
}
.nav-list{
    width: 50%;
    background-color: yellow;
}
.nav-list li{

    
}
.nav-list li a{

}
.rightNav{
    background-color: violet;
    width: 50%;
    text-align: right;
    display: flex;
}
.navbar .nav-list .logo img{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px solid white;
}