*{
    margin: 0;
    padding: 0;
}
#navbar{
    height: 60px;
    background-color: #0f1111;  
}  

    
#logo{
    color:  #f08804;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
.contentBox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
footer{
    background-color: #0f1111;  
    color: white;
    text-align: center;
}
#content{
    height: 500px;
}